body { background: #1dede6; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 46px; display: flex; }
.block-cluster-0 { color: #16b6a; font-size: 21px; margin-bottom: 5px; }
.block-payment-1 { color: #d83e87; font-size: 19px; margin-bottom: 5px; }
.block-sms-2 { color: #2c0861; font-size: 19px; margin-bottom: 5px; }
.block-cart-3 { color: #3526af; font-size: 19px; margin-bottom: 5px; }
.block-notify-4 { color: #707fa2; font-size: 16px; margin-bottom: 5px; }
.block-search-5 { color: #f7f9c3; font-size: 15px; margin-bottom: 5px; }